.flights-list .store-name {
    font-size: 14px;
    line-height: 16px;
}

.flights-list .store-name > img {
    float: left;
}


.flights-list .store-name .flight-name-text {
    display: block;
    margin-left: 42px;
}

.flights-list .store-name .flight-number {
    color: #888;
    margin-top: 4px;
    white-space: nowrap;
    display: block;
}

.cat-page .main .flights-list .store-sort li.store .store-rebate {
    width: 50px;
}

.cat-page .main .flights-list .store-sort li.store .flight-time {
    width: 165px;
    margin-top: 10px;
    font-size: 14px;
}

.cat-page .main .buy-page .store-sort li.store .store-name {
    width: 170px;
}

.cat-page .main .flights-list.buy-page .store-sort li.store .flight-time {
    width: 105px;
}

.cat-page .main .buy-page .store-sort li.store .coupon-count {
    width: 100px;
}

.cat-page .main .flights-list.buy-page .store-sort li.store .store-rebate {
    width: 140px;
}

.cat-page .main .flights-list.buy-page .store-sort li.store .store-rebate.store-rebate-price {
    width: 110px;
    margin-right: 10px;
}

.prodinfo-blk {
    position: static;
}

.related-prods-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.delivery-price {
    margin-left: 100px
}

.logo {
    display: inline;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
}

.promo-boxes {
    display: table;
}

.prod-image {
    display: table-cell;
    vertical-align: middle;
}

.cat-page .main .store-sort li.store .store-shop .button {
    white-space: nowrap;
}