{% extends 'core/main.html' %}
{% load static %}

{% block container_class_nav %}container-fluid{% endblock %}
{% block container_class %}container-fluid{% endblock %}
{% block title %}
    Airports
{% endblock %}
{% block content %}
    <table class="table table-hover table-sm table-bordered airports-list">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
                <th>Timezone</th>
            </tr>
        </thead>
        <tbody>
        {% for airport in airport_list %}
            <tr>
                <td>{{ airport.code }}</td>
                <td>{{ airport.name }}</td>
                <td>{{ airport.city }}</td>
                <td>{{ airport.country }}</td>
                <td>{{ airport.timezone }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
