{% extends 'core/base.html' %}

{% block searchform %}{% endblock %}


{% block content %}

    <h1>BUY</h1>

    <hr>

    {{ fwd_flight }}

    <hr>

    {{ bck_flight }}



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    {% for delivery in suggest_deliveries %}
        Deliver for {{ delivery.store }} <s>${{ delivery.src_price }}</s> ${{ delivery.dst_price }} in {{ delivery.dst_country.name }}
        <hr>
    {% endfor %}
{% endblock %}