{% extends 'core/base.html' %}

{% block searchform %}{% endblock %}


{% block content %}
<div class="blk main mar-10-b">
    <div class="pad-30 pad-20-tb blk-reg border">
    </div>


    <div class="blk-reg f-16 flights-list" id="store-list-container">
        <ul id="store-sort" class="store-sort">
            <li class="store blk border-b pad-20 pad-30-lr alpha_a" data-store-id="9814">
                <div class="m-store-row-s alpha_a one-line">
                    <span class="f-b f-20 lh-24">Flight #{{ fwd_flight.company.iata }} {{ fwd_flight.number }}: from {{ fwd_flight.src }} to {{ fwd_flight.dst }}</span>
                </div>
                <div class="m-store-row-s alpha_a one-line">
                    <span class="store-name blk  f-norm f-16 lh-20">
                        {% if fwd_flight.company.image %}
                            <img src="/media/airlines/PS.png"
                                 height="32" width="32">
                        {% else %}
                            <img src="/static/img/empty-icon.png"
                                 height="32" width="32">
                        {% endif %}
                        <span class="flight-name-text">
                            {{ fwd_flight.company.name }}
                        </span>
                    </span>
                    <span class="flight-number">
                        <span class="flight-time blk f-16 lh-20">
                            {{ fwd_flight.date|time:"g:i A"  }}
                        {% if fwd_flight.is_utc %}UTC{% endif %}
                        </span>
                        <span class="coupon-count blk f-14 lh-20 f-gry-dk-8">
                                Duration:
                            {{ fwd_flight.duration }}
                        </span>
                    </span>
                    <span class="store-rebate blk cb f-16 lh-20">
                        Cashback: {{ fwd_flight.company.cashback }}%
                    </span>
                    <span class="store-rebate blk cb f-16 lh-20" style="margin-left: 30px">
                        Price: {{ fwd_flight.price }}$
                    </span>
                </div>
            </li>

            {% if bck_flight.company %}
            <li class="store blk border-b pad-20 pad-30-lr alpha_a" data-store-id="9814">
                <div class="m-store-row-s alpha_a one-line">
                    <span class="f-b f-20 lh-24">Flight #{{ bck_flight.company.iata }} {{ bck_flight.number }}: from {{ bck_flight.src }} to {{ bck_flight.dst }}</span>
                </div>
                <div class="m-store-row-s alpha_a one-line">
                    <span class="store-name blk  f-norm f-16 lh-20">
                        {% if bck_flight.company.image %}
                            <img src="/media/airlines/PS.png"
                                 height="32" width="32">
                        {% else %}
                            <img src="/static/img/empty-icon.png"
                                 height="32" width="32">
                        {% endif %}
                        <span class="flight-name-text">
                            {{ bck_flight.company.name }}
                        </span>
                    </span>
                    <span class="flight-number">
                        <span class="flight-time blk f-16 lh-20">
                            {{ bck_flight.date|time:"g:i A" }}
                        {% if bck_flight.is_utc %}UTC{% endif %}
                        </span>
                        <span class="coupon-count blk f-14 lh-20 f-gry-dk-8">
                                Duration:
                            {{ bck_flight.duration }}
                        </span>
                    </span>
                    <span class="store-rebate blk cb f-16 lh-20">
                        Cashback: {{ bck_flight.company.cashback }}%
                    </span>
                    <span class="store-rebate blk cb f-16 lh-20" style="margin-left: 30px">
                        Price: {{ bck_flight.price }}$
                    </span>
                </div>
            </li>
            {% endif%}

        </ul>
    </div>

    <div id="all-products" class="prod-serp blk blk-grou pos-rel">
        <div class="product-blk prod search-blk pointer blk-reg blk border pad-20 mar-0-r col-fourth product de-duped rat-processed">
            <div class="prodphoto bblk square-165 center pos-rel"
                 data-href="https://product-image.ebates.com/pcs/images/10604/8083/10604-2544778-2018082121-540X540.   jpeg">
                <img class="photo lazy bblk blk-reg valign-mid" title="ASOS DESIGN skinny chinos in gray"
                     src="https://product-image.ebates.com/pcs/images/10604/8083/10604-2544778-2018082121-360X360.jpeg"
                     alt="ASOS DESIGN skinny chinos in gray" style="display: block; max-width: 100%; max-height: 100%;">
            </div>
            <div class="prodinfo-blk pos-abs" style="width: 166px;">
                <div class="prox-b f-gry pad-20-t pad-10-b f-14 lh-18 truncate">ASOS</div>
                <div class="prodinfo pad-10-b">
                    <div class="name f-14 lh-18 ht-36 f-gry coupon-ellipsis-2l prod-deal-ellipsis overflow-0"
                         style="width: 165px;">
                        <span class="f-gry title-part" title="ASOS DESIGN skinny chinos in gray">ASOS DESIGN skinny chinos in gray</span>
                    </div>
                </div>
                <div class="pricing">
                    <div class="f-16 lh-20">
                        <span class="yourprice itemPrice prox-b f-gry" data-saleprice="32">$32.00</span>
                    </div>
                    <div class="cashbackval">
                        <span class="prox-b cb f-16 lh-20">$0.80 Cash Back</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}